# This is Git's per-user configuration file.
[user]
	name = Bryan Naegele
	email = bryan@fourthtime.com
[core]
	editor = emacs
	excludesfile = /Users/bryannaegele/.gitignore_global
[push]
	default = current
	autoSetupRemote = true
[pull]
	rebase = true
[init]
	defaultBranch = main
[commit]
	gpgsign = true
